
image: node:12.19.0
pipelines:
  pull-requests:
    "**":
      - step:
          name: publish to nexus
          script:
            - npm version minor -m "Upgrade to %s [skip ci]"
            - mv .npmrc_config .npmrc
            - cat .npmrc
            - NEXUS_AUTH=$(echo -n "$NEXUS_NPM_PUBLISH_USERNAME:$NEXUS_NPM_PUBLISH_PASSWORD" | openssl enc -base64)
            - echo -e "\n_auth=$NEXUS_AUTH"  >> .npmrc
            - cat .npmrc
            - npm publish

            # "publishConfig": {     "registry": "https://your-nexus-host/nexus/repository/npm-private/" }  
            # npm config set registry https://your-nexus-host/nexus/repository/npm-group/ 
            # npm adduser --registry=https://your-nexus-host/nexus/repository/npm-private/ ( provide nexux-user-name,  nexux-user-password,  nexux-user-email) npm publish .npm