
image: node:16.14.2
pipelines:
  pull-requests:
    "**":
      - step:
          name: publish to nexus
          script:
            - npm version minor -m "Upgrade to %s [skip ci]"
            - mv .npmrc_config .npmrc
            - export NEXUS_CREDENTIALS=$NEXUS_NPM_PUBLISH_USERNAME:$NEXUS_NPM_PUBLISH_PASSWORD
            - echo -ne "\n_auth=$NEXUS_CREDENTIALS" | openssl base64 >> .npmrc
            - cat .npmrc
            - npm publish

            # "publishConfig": {     "registry": "https://your-nexus-host/nexus/repository/npm-private/" }  
            # npm config set registry https://your-nexus-host/nexus/repository/npm-group/ 
            # npm adduser --registry=https://your-nexus-host/nexus/repository/npm-private/ ( provide nexux-user-name,  nexux-user-password,  nexux-user-email) npm publish .