
image: node:12.19.0

# NOTE: There is a bug with later LTS/latest node 
# Use this just for publishing instead
# https://github.com/npm/cli/pull/2445

pipelines:
  pull-requests:
    "**":
      - step:
          name: publish to nexus
          script:
            - mv .npmrc_config .npmrc
            - NEXUS_AUTH=$(echo -n "$NEXUS_NPM_PUBLISH_USERNAME:$NEXUS_NPM_PUBLISH_PASSWORD" | openssl enc -base64)
            - echo -e "\n_auth=$NEXUS_AUTH"  >> .npmrc
            - npm publish