image: node:16.18.0

pipelines:
  branches:
    version-temp-branch:
      - step:
          name: Merge and publish pkg
          caches:
            - node
          script:
            # Ensure the tag follows the semantic versioning format (vX.Y.Z)
            - mv .npmrc_config .npmrc
            - NEXUS_AUTH=$(echo -n "$NEXUS_NPM_PUBLISH_USERNAME:$NEXUS_NPM_PUBLISH_PASSWORD" | openssl enc -base64)
            - sed -i "s|\${NEXUS_AUTH}|${NEXUS_AUTH}|g" .npmrc # Replace ${NEXUS_AUTH} with the value of NEXUS_AUTH if it is defined in the environment
            - npm publish
            # Delete temporary branch
            - git fetch origin master
            - git checkout master
            - git merge version-temp-branch --no-edit
            - git branch -d version-temp-branch

  tags:
    "v*.*.*":
      - step:
          name: Build, test and deploy to @piscada/pms-client package in Nexus
          caches:
            - node
          script:
            # Ensure the tag follows the semantic versioning format (vX.Y.Z)
            - mv .npmrc_config .npmrc
            - NEXUS_AUTH=$(echo -n "$NEXUS_NPM_PUBLISH_USERNAME:$NEXUS_NPM_PUBLISH_PASSWORD" | openssl enc -base64)
            - sed -i "s|\${NEXUS_AUTH}|${NEXUS_AUTH}|g" .npmrc # Replace ${NEXUS_AUTH} with the value of NEXUS_AUTH if it is defined in the environment
            - npm install

            # Check for bitbucket tag
            - if [ -z "$BITBUCKET_TAG" ]; then echo "No tag found"; else echo "Tag found"; fi
            - ./check_bitbucket_tag.sh

            # Extract version from BITBUCKET_TAG tag
            - PACKAGE_VERSION=$(echo ${BITBUCKET_TAG} | sed 's/^v//')

            # Set package version
            - npm version ${PACKAGE_VERSION} --no-git-tag-version

            # Generate buildInfo.json
            - ./generate_client_info.sh

            # Test this
            - git status

            - git checkout -b version-temp-branch

            # Add and commit package.json and package-lock.json version changes
            - git add package.json package-lock.json clientInfo.json
            - git commit -m "Bump version to $PACKAGE_VERSION"

            # Check things
            - git status

            # Push changes to the current branch
            - git push origin HEAD:version-temp-branch
