
image: node:12.19.0

# NOTE: There is a bug with later LTS/latest node 
# Use this just for publishing instead
# https://github.com/npm/cli/pull/2445

pipelines:
  tags:
    'v*':
      - step:
          name: Build, test and deploy to @piscada/pms-client package in Nexus
          caches:
            - node
          script:
            - mv .npmrc_config .npmrc
            - NEXUS_AUTH=$(echo -n "$NEXUS_NPM_PUBLISH_USERNAME:$NEXUS_NPM_PUBLISH_PASSWORD" | openssl enc -base64)
            - sed -i "s|\${NEXUS_AUTH}|${NEXUS_AUTH}|g" .npmrc # Replace ${NEXUS_AUTH} with the value of NEXUS_AUTH if it is defined in the environment
            - npm install
            - npx tsc

            # Extract version from git tag
            - PACKAGE_VERSION=$(echo ${BITBUCKET_TAG} | sed 's/^v//')

            # Set package version
            - npm version ${PACKAGE_VERSION} --no-git-tag-version

            # Generate buildInfo.json
            - chmod +x generate_client_info.sh
            - ./generate_client_info.sh

            # Add changes made by npm version to git
            - git add package.json package-lock.json clientInfo.json

            # Commit the version change
            - git commit -m "Set package version to ${PACKAGE_VERSION}"

            # Publish the package
            - npm publish