image: node:16.18.0

pipelines:
  tags:
    "v*.*.*":
      - step:
          name: Build, test and deploy pkg
          caches:
            - node
          script:
            # Add NEXUS_AUTH to .npmrc
            - mv .npmrc_config .npmrc
            - NEXUS_AUTH=$(echo -n "$NEXUS_NPM_PUBLISH_USERNAME:$NEXUS_NPM_PUBLISH_PASSWORD" | openssl enc -base64)

            # Replace ${NEXUS_AUTH} with the value of NEXUS_AUTH
            - sed -i "s|\${NEXUS_AUTH}|${NEXUS_AUTH}|g" .npmrc 

            # Extract version from BITBUCKET_TAG tag
            - PACKAGE_VERSION=$(echo ${BITBUCKET_TAG} | sed 's/^v//')

            # Set package version
            - npm version ${PACKAGE_VERSION} --no-git-tag-version

            # Generate buildInfo.json
            - chmod +x generate_client_info.sh && ./generate_client_info.sh

            # Need remote ref. Jeez how long did it take to figure this out!
            - git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
            - git fetch origin -a
            - git checkout master

            # Add the updated package.json, package-lock.json and clientInfo.json
            - git add package.json package-lock.json clientInfo.json
            - git commit -m "Bump version to $PACKAGE_VERSION"
            - git push origin master

            - npm publish
