<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMS Client Example (WIP)</title>

    <script type="text/javascript" src="index.js"></script>

    <style>
        .videoStyling {
            max-height: 300px;
        }

        .meta {
            font-size: 14px;
        }
    </style>
</head>

<body>

    <div class="sidebyside padding">
        <div class="mediabox">

            <div>
                <video ref="videoRef" :controls="false" class="videoStyling" :autoplay="true" :playInline="true"
                    :srcObject.prop="srcObject" @loadedmetadata="setMeta" @canplay="() => $emit('stoploading')"
                    @ended="() => removeMediaPlayer()"></video>
                <br />
                <span class="meta">Source resolution: {{ dimensions }}</span>
            </div>
            <div class="loaderBox">
                <Loader v-if="loading" />
            </div>
        </div>
        <div>
            <div class="selectBox spaceme">
                <select v-model="selectedCamera" class="u-full-width" @change="addMedoozeVideo()">
                    <option v-for="cam in cameraList" :key="cam.id" :value="cam">
                        {{ cam.id }} {{ cam.instance && `(instance: ${cam.instance})` }}
                    </option>
                </select>
            </div>
            <div>
                <button class="spaceme" @click="stopStream()">Stop</button>

            </div>
        </div>
    </div>

</body>

</html>